doctype html
html
  head
    title DEMOCHAT
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(charset='UTF-8')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav.navbar.navbar-default
        div.container
          if(!user)
            div.navbar-header
              a.navbar-brand(href='/login') DEMOCHAT
            ul.nav.navbar-nav.navbar-right
              li: a(href='/login') ログイン
          if(user)
            div.navbar-header
              a.navbar-brand(href='/rooms') DEMOCHAT
            ul.nav.navbar-nav.navbar-right
              li#username.disable: a #{user.username}
              li: a(href='/logout') ログアウト
    block content

  script(src='//code.jquery.com/jquery-1.11.3.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
