extends header

block content
  .container
    form(role='form', action="/login",method="post", style='max-width: 300px;')
      .form-group
        label.control-label ユーザ名
        input.form-control(type='text', name="username")
      .form-group
        label.control-label パスワード
        input.form-control(type='password', name="password")
      .form-group
        p(style='color: red;')= info
      .form-group
        a(href='/register') ユーザ登録はこちら
      button.btn.btn-primary(type='submit') ログイン
