extends header

block content
  div.container
    form(role='form', action="/register",method="post", style='max-width: 300px;')
      .form-group
        label.control-label ユーザ名
        input.form-control(type='text', name="username")
      .form-group
        label.control-label パスワード
        input.form-control(type='password', name="password")
      .form-group
        label.control-label パスワード再入力
        input.form-control(type='password', name="password")
      p(style='color: red;')= info
      button.btn.btn-primary(type='submit') 登録
      &nbsp;
      a(href='/')
        button.btn.btn-default(type="button") キャンセル
