extends header

block content
  .container
    .well
      label 新しいチャットルームを作成する
      form.form-inline(role='form', action="/room",method="post")
        input.form-control.col-md-10(type='text', name='roomName', placeholder='チャットルーム名を入力してください')
        &nbsp;
        button.btn.btn-primary.col-md-2(type='submit') 作成
    div.message
    div#roomList
  script(src='javascripts/rooms.js')
